logs/
elastic_data/
postgres_data/
n8n_data/

# Backups
*.backup

# OS
.DS_Store
Thumbs.db

# Wazuh
wazuh/manager/etc/security/rbac.db


# n8n
n8n_config/

# Python
__pycache__/
*.pyc

.env
*.env
**/.env

# Frontend (Vite/Node)
frontend/node_modules/
frontend/dist/