DATABASE_URL=postgresql://db_user:db_pass@host.docker.internal:5432/security_monitoring
N8N_URL=http://<IP_SERVIDOR>:5678
N8N_API_KEY=<tu_api_key_de_n8n>
PROMETHEUS_URL=http://<IP_SERVIDOR>:9090
FAIL2BAN_EXPORTER_URL=http://<IP_SERVIDOR>:9121
DOCKER_HOST=npipe:////./pipe/dockerDesktopLinuxEngine

N8N_WORKFLOW_ID_PRINCIPAL=<id_workflow_principal>
N8N_WORKFLOW_ID_METRICAS=<id_workflow_metricas>
N8N_WORKFLOW_ID_TICKETS=<id_workflow_tickets>
N8N_WORKFLOW_ID_BLOQUEO=<id_workflow_bloqueo>

WAZUH_INDEXER_URL=https://<IP_SERVIDOR>:9201
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASSWORD=<contraseña_wazuh_indexer>
WAZUH_ALERTS_INDEX=wazuh-alerts-*
WAZUH_VERIFY_TLS=False

DASHBOARD_USER=admin
DASHBOARD_PASSWORD=<contraseña_del_panel>
JWT_SECRET=<secreto_random_largo>
FRONTEND_ORIGIN=http://localhost:5173