DATABASE_URL=postgresql://db_user:db_pass@192.168.100.160:5432/security_monitoring
N8N_URL=http://192.168.100.160:5678
N8N_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyNDcwNGYxYy1hYzU4LTRlNDctYjg3Ni03NGYzOTI1NDA1M2QiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzg2OTEzMDM5fQ.oz1Fr7ey6eiDEzaRuksrKDbxoNSAR6RbrJRFYzPLHI0
PROMETHEUS_URL=http://192.168.100.160:9090
FAIL2BAN_EXPORTER_URL=http://192.168.100.160:9121
DOCKER_HOST=unix:///var/run/docker.sock
WAZUH_URL=https://192.168.100.160
WAZUH_USER=admin
WAZUH_PASSWORD=Admin1234!